$tTop: 100px;
$tH: 48px;
$c91: #919191;

.hb-admin {
    margin: 0;
    .hb-nav-wrap {
        position: fixed;
        top: 0;
        margin: 0 auto;
        padding: 0;
        z-index: 9;
        width: 100%;
        height: 76px;
        background-color: #fbfbfb;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
        transition: all 0.15s ease-in-out;
        .hb-nav {
            margin: 0 auto;
            position: relative;
            width: 76%;
            height: 76px;
            .logo {
                display: inline-block;
                width: 130px;
                height: 100%;
                background: url(/static/images/logo-color.svg) 0 center no-repeat;
            }
            .form-group {
                position: absolute;
                top: 22px; // (76 - 36) /2
                left: calc(130px + 64px);
                .hb-nav-search {
                    // width: 12%;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    line-height: 24px;
                    border-radius: 2px;
                }
            }
            #hb-admin-search {
                position: absolute;
                top: 22px;
                right: 0px;
                width: 88px;
                color: #fff;
                background: $c91;
                border-color: $c91;
                outline: none;
                transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
                border-radius: 2px;
                &:hover {
                    color: #ccffcc;
                    background: #333;
                    border-color: #333;
                }
            }
        }
    }
    .hb-content-wrap {
        margin: 0 auto;
        margin-top: $tTop;
        width: 76%;
        .table.table-hover {
            width: 100%;
            margin-top: 76px;
            thead {
                > tr {
                    > th {
                        height: $tH;
                        line-height: $tH;
                        border-bottom: 1px solid #ddd;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        height: $tH;
                        line-height: $tH;
                    }
                    .hb-live-tdst {
                        color: #eee;
                    }
                }
            }
        }
    }
    .hb-admin-content-wrap {
        margin: 0 auto;
        // margin-top: $tTop;
        width: 76%;
        &::before {
            content: '';
            width: 100%;
            height: $tTop;
            display: block;
        }
        .hb-admin-tabs {
            height: 48px;
            position: relative;
            .hb-admin-tab {
                float: left;
                margin: 7px 0px;
                padding: 6px 4px;
                height: 34px;
                // line-height: 20px; // 字体本身垂直居中，这边盒模型，不需要设该值
                width: 80px;
                text-align: center;
                border: 1px solid $c91;
                border-right: none;
                box-sizing: border-box;
                &:last-child {
                    border-right: 1px solid $c91;
                }
                // transition: color 0.36s ease-in-out;
            }
            // .hb-admin-tab.active {
            //     color: #ccffcc;
            //     background-color: $c91;
            // }
            .hb-admin-tabs-trick {
                position: absolute;
                top: 7px;
                left: 0px;
                width: 81px;
                height: 34px;
                background: #333;
                opacity: 0.2;
                transition: 0.36s ease-in-out;
            }
            .hb-admin-tabs-trick.ti0 {
                left: 0px;
            }
            .hb-admin-tabs-trick.ti1 {
                left: 80px;
            }
            .hb-admin-tabs-trick.ti2 {
                width: 80px;
                left: 160px;
            }
        }
        #hb-live-config {
            margin-top: 12px;
            .form-control {
                border-radius: 2px;
            }
            #hb-lc-start {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                &:hover {
                    cursor: not-allowed;
                }
                
            }
            #group-banner-bg {
                height: calc(80px + 280px);
                .form-check-label {
                    margin-bottom: 0;
                    padding-top: 7px;
                    input {
                        margin-right: 8px;
                    }
                }
                #banner-bg-trick {
                    position: absolute;
                    padding: 0;
                    top: 42px;
                    left: 15px;
                    width: 273px;
                    // height: 280px;
                    font-weight: normal;
                }
            }
            
        }
    }
}


#dtpicker-start-open {
    border-left: none;
}

#dtpicker-start-reset {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.hb-admin-footer {
    margin-bottom: 120px;
    width: 0;
    height: 0;
}

.et-pop {
    position: absolute;
    top: 2px;
    left: 200px;
    &:before {
        content: '宽度' !important;
    }
    input {
        width: 80px !important;
        outline: none;
    }
    label {
        margin-bottom: 0px;
        &:after {
            content: '标注';
            font-weight: normal;
            line-height: 26px;
            margin: 0 8px;
        }
    }
}

#et-pop-svg .et-pop-svg-stroke {
    stroke: #4af;
}

#et-pop-svg .et-pop-svg-fill {
    fill: #4af;
}

html {
    font-size: 16px;
}

#editor .ql-editor {
    h3 {
        font-size: 1.5rem;
        font-weight: normal;
        color: #000;
        margin: .8em 0;
    }
    h4 {
        -webkit-margin-before: 1.33em;
        -webkit-margin-after: 1.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
    hr {
        height:0px; border: 2px solid #ededed; margin-top:10px; margin-bottom:10px;
    }   
    img {
        width: 200px;
    }
}
