//- navigator 导航栏
.navi
    .fw.inner
        a.logo(href='#home')
        a#btn.close.mbonly(href='javascript:;')
        span.ic
        #mn.links
            ul#nav.menu
                li
                    a(href='#home') 首页
                li
                    a(href='#watch') 观看
                li
                    a(href='#info') 关于课程
                li
                    a(href='#ref') 资料
                li
                    a.mbonly.nav(href='#teacher') 关于主播
                li
                    a(href='#archive') 往期
                li.more
                    a.outlink(target='_blank', href='//huaban.com') 返回花瓣
//- banner 背景
#home.item.banner.anchor
    .fw.inner
        h2
            span
                i 时间：6 月 17 日晚上 8:00~10:00
                i 价格：9.9 元
        a.apply.sfblur.btn.mbonly(href='//shangzhibo.tv/watch/7869614?from=hblive-mb') 报名参与
        img(src='//hb-prd.b0.upaiyun.com/images/live/henglan/head-img.png')